Source: ignition-sensors3
Standards-Version: 3.9.8
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Section: science
Priority: optional
Build-Depends: cmake,
               doxygen,
               pkg-config,
               debhelper (>= 9),
               libignition-cmake2-dev (>= 2.8.0),
               libignition-common3-events-dev,
               libignition-common3-profiler-dev,
               libignition-math6-dev,
               libignition-msgs5-dev,
               libignition-plugin-dev,
               libignition-rendering3-ogre1-dev,
               libignition-rendering3-ogre2-dev,
               libignition-transport8-core-dev,
               libignition-tools-dev,
               libsdformat9-dev
Vcs-Browser: https://github.com/gazebosim/gz-sensors
Vcs-Git: https://github.com/gazebosim/gz-sensors
Homepage: http://gazebosim.org/

Package: libignition-sensors3-core-dev
Architecture: any
Section: libdevel
Depends: libignition-cmake2-dev (>= 2.8.0),
         libignition-common3-events-dev,
         libignition-math6-dev,
         libignition-msgs5-dev,
         libignition-plugin-dev,
         libignition-rendering3-ogre1-dev,
         libignition-rendering3-ogre2-dev,
         libignition-transport8-core-dev,
         libignition-tools-dev,
         libsdformat9-dev,
         libignition-sensors3 (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Development files
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.

Package: libignition-sensors3
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Shared library
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.

Package: libignition-sensors3-air-pressure-dev
Architecture: any
Section: libdevel
Depends: libignition-cmake2-dev (>= 2.8.0),
         libignition-common3-events-dev,
         libignition-sensors3-core-dev (= ${binary:Version}),
         libsdformat9-dev,
         libignition-sensors3-air-pressure (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Dev files air-pressure
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Development files for air-pressure sensor

Package: libignition-sensors3-air-pressure
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Lib air-pressure
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Shared library for air-pressure sensor

Package: libignition-sensors3-altimeter-dev
Architecture: any
Section: libdevel
Depends: libignition-cmake2-dev (>= 2.8.0),
         libignition-common3-events-dev,
         libignition-sensors3-core-dev (= ${binary:Version}),
         libsdformat9-dev,
         libignition-sensors3-altimeter (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Dev files altimeter
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Development files for altimeter sensor

Package: libignition-sensors3-altimeter
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Lib altimeter
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Shared library for altimeter sensor


Package: libignition-sensors3-camera-dev
Architecture: any
Section: libdevel
Depends: libignition-cmake2-dev (>= 2.8.0),
         libignition-common3-events-dev,
         libignition-math6-dev,
         libignition-msgs5-dev,
         libignition-transport8-core-dev,
         libignition-sensors3-core-dev (= ${binary:Version}),
         libsdformat9-dev,
         libignition-sensors3-camera (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Dev files Camera
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Development files for Camera sensor

Package: libignition-sensors3-camera
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Lib Camera
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Shared library for Camera sensor

Package: libignition-sensors3-depth-camera-dev
Architecture: any
Section: libdevel
Depends: libignition-cmake2-dev (>= 2.8.0),
         libignition-common3-events-dev,
         libignition-math6-dev,
         libignition-msgs5-dev,
         libignition-transport8-core-dev,
         libignition-sensors3-core-dev (= ${binary:Version}),
         libignition-sensors3-camera-dev (= ${binary:Version}),
         libsdformat9-dev,
         libignition-sensors3-depth-camera (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Dev files depth-camera
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Development files for depth-camera sensor

Package: libignition-sensors3-depth-camera
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Lib depth-camera
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  . Shared library for depth-camera sensor

Package: libignition-sensors3-imu-dev
Architecture: any
Section: libdevel
Depends: libignition-cmake2-dev (>= 2.8.0),
         libignition-common3-events-dev,
         libignition-math6-dev,
         libignition-sensors3-core-dev (= ${binary:Version}),
         libsdformat9-dev,
         libignition-sensors3-imu (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Dev files imu
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Development files for imu sensor

Package: libignition-sensors3-imu
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Lib imu
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Shared library for imu sensor


Package: libignition-sensors3-lidar-dev
Architecture: any
Section: libdevel
Depends: libignition-cmake2-dev (>= 2.8.0),
         libignition-common3-events-dev,
         libignition-math6-dev,
         libignition-msgs5-dev,
         libignition-transport8-core-dev,
         libignition-sensors3-core-dev (= ${binary:Version}),
         libsdformat9-dev,
         libignition-sensors3-lidar (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Dev files lidar
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Development files for lidar sensor

Package: libignition-sensors3-lidar
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Lib lidar
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Shared library for lidar sensor

Package: libignition-sensors3-gpu-lidar-dev
Architecture: any
Section: libdevel
Depends: libignition-cmake2-dev (>= 2.8.0),
         libignition-common3-events-dev,
         libignition-math6-dev,
         libignition-msgs5-dev,
         libignition-transport8-core-dev,
         libignition-sensors3-core-dev (= ${binary:Version}),
         libignition-sensors3-lidar-dev (= ${binary:Version}),
         libsdformat9-dev,
         libignition-sensors3-gpu-lidar (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Dev files gpu-lidar
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Development files for gpu-lidar sensor

Package: libignition-sensors3-gpu-lidar
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Lib gpu-lidar
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Shared library for gpu-lidar sensor

Package: libignition-sensors3-logical-camera-dev
Architecture: any
Section: libdevel
Depends: libignition-cmake2-dev (>= 2.8.0),
         libignition-common3-events-dev,
         libignition-math6-dev,
         libignition-msgs5-dev,
         libignition-transport8-core-dev,
         libignition-sensors3-core-dev (= ${binary:Version}),
         libsdformat9-dev,
         libignition-sensors3-logical-camera (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Dev files logical-camera
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Development files for logical-camera sensor

Package: libignition-sensors3-logical-camera
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Lib logical-camera
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Shared library for logical-camera sensor

Package: libignition-sensors3-magnetometer-dev
Architecture: any
Section: libdevel
Depends: libignition-cmake2-dev (>= 2.8.0),
         libignition-common3-events-dev,
         libignition-math6-dev,
         libignition-sensors3-core-dev (= ${binary:Version}),
         libsdformat9-dev,
         libignition-sensors3-magnetometer (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Dev files magnetometer
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Development files for magnetometer sensor

Package: libignition-sensors3-magnetometer
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Lib magnetometer
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Shared library for magnetometer sensor

Package: libignition-sensors3-rendering-dev
Architecture: any
Section: libdevel
Depends: libignition-cmake2-dev (>= 2.8.0),
         libignition-common3-events-dev,
         libignition-math6-dev,
         libignition-sensors3-core-dev (= ${binary:Version}),
         libsdformat9-dev,
         libignition-sensors3-rendering (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Dev files rendering
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Development files for rendering sensor

Package: libignition-sensors3-rendering
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Lib rendering
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Shared library for rendering sensor

Package: libignition-sensors3-rgbd-camera-dev
Architecture: any
Section: libdevel
Depends: libignition-cmake2-dev (>= 2.8.0),
         libignition-msgs5-dev,
         libignition-sensors3-core-dev (= ${binary:Version}),
         libsdformat9-dev,
         libignition-sensors3-rgbd-camera (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Dev files rgbd-camera
  Gazebo Sensors is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Development files for rgbd-camera sensor

Package: libignition-sensors3-rgbd-camera
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo Sensors classes and functions for robot apps - Lib rgbd-camera
  Gazebo Sensors is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Shared library for rgbd-camera sensor

Package: libignition-sensors3-thermal-camera-dev
Architecture: any
Section: libdevel
Depends: libignition-cmake2-dev (>= 2.8.0),
         libignition-common3-events-dev,
         libignition-math6-dev,
         libignition-msgs5-dev,
         libignition-transport8-core-dev,
         libignition-sensors3-core-dev (= ${binary:Version}),
         libsdformat9-dev,
         libignition-sensors3-thermal-camera (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Dev files thermal-camera
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Development files for thermal-camera sensor

Package: libignition-sensors3-thermal-camera
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Lib thermal-camera
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Shared library for thermal-camera sensor

Package: libignition-sensors3-dev
Architecture: any
Section: libdevel
Depends: libignition-sensors3-core-dev (= ${binary:Version}),
         libignition-sensors3-air-pressure-dev (= ${binary:Version}),
         libignition-sensors3-altimeter-dev (= ${binary:Version}),
         libignition-sensors3-camera-dev (= ${binary:Version}),
         libignition-sensors3-depth-camera-dev (= ${binary:Version}),
         libignition-sensors3-imu-dev (= ${binary:Version}),
         libignition-sensors3-lidar-dev (= ${binary:Version}),
         libignition-sensors3-gpu-lidar-dev (= ${binary:Version}),
         libignition-sensors3-logical-camera-dev (= ${binary:Version}),
         libignition-sensors3-magnetometer-dev (= ${binary:Version}),
         libignition-sensors3-rendering-dev (= ${binary:Version}),
         libignition-sensors3-rgbd-camera-dev (= ${binary:Version}),
         libignition-sensors3-thermal-camera-dev (= ${binary:Version}),
         ${misc:Depends}
Multi-Arch: same
Description: Gazebo sensors2 classes and functions for robot apps - Metapackage
  Gazebo sensors2 is a component in the Gazebo framework, a set of libraries
  designed to rapidly develop robot applications.
  .
  Metapackage for all the -dev files
